{% extends "base.html"%}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{%static 'normalize-css/normalize.css'%}">
{% endblock %}
""
{% block content%}
<div class="all-index">
	<main role="main" id="inicio">
		<nav class="menu">
			<ul>
				<li><a href="#" class="scroll">Inicio</a></li>
				<li><a href="#mapas"  class="scroll">Mapas Prontos</a></li>
				<li><a href="#novo-mapa" class="scroll">Nova viagem</a></li>
			</ul>
		</nav>
		<section class="banner">
			<img src="{% static 'img/logistica.jpg'%}" />
		</section>
		<section class="lista-lugares" id="mapas">
			<h2>Mapas prontos</h2>
			<table>
				<thead>
					<tr>
						<td>Origem</td>
						<td>Destino</td>
					</tr>
				</thead>
				<tbody>
					{% for list in object_list %}
					<tr>
						<td><a href="mapas/{{list.slug}}">{{ list.origem }}</a></td>
						<td><a href="mapas/{{list.slug}}">{{list.destino}}</a></td>
					</tr>
					{% endfor %}
				<tbody>
			</table>
		</section>
		<section class="nova-viagem " id="novo-mapa">
			<a href="{% url 'cadastro'%}">
				<h2>Criar nova viagem</h2>
				<p>
					Clique aqui e crie um novo mapa de entregras.
				</p>
			</a>
		</section>
	</main>
<div>
{% endblock %}

{% block js%}

<script type="text/javascript" src="{% static 'angular/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js'%}"></script>

<script type="text/javascript" language="javascript" charset="utf-8">
$(document).ready( function() {
	$('.menu').smint();
});
</script>
{% endblock %}
