{% extends "base.html"%}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">

{% endblock %}

{% block content%}
{% verbatim %}
	<main>
		<section class="ponto-origem">
			<form action="">
				<label for="">Endereço </label>
				<input type="">


				<label for="">Bairo</label>
				<input type="">

				<input type="submit">

			</form>
		</section>

		<section class="ponto-destino">
			<form action="">
				<label for="">Endereço </label>
				<input type="">


				<label for="">Bairo</label>
				<input type="">

				<input type="submit">

			</form>
		</section>
		<section class="ponto-destino">

		</section>

		</section>

		<section></section>
	</main>


{% endverbatim%}


    <div id="map"></div>
{% endblock %}


{% block js%}

    </script>
<script type="text/javascript" src='{% static 'angular/angular.js' %}'></script>
{% endblock %}
