body{
	font: 62.5%/1.4 sans-serif;
}
.lista-lugares{
	background:#343434;
}
.lista-lugares a{
	text-decoration:none;
	color:#fff;
	font-size:4em;
}
.lista-lugares a ul li {
	list-style:none;
	display: inline;
	margin-right: 25%;
}


