/* * * * * * * * * * * *
 * Utilidades* * * * * *
 * * * * * * * * * * * */
*,*:before, *:after{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

body{
	font: 62.5%/1.4 sans-serif;
	margin: 0 auto;
}
/* * * * * * * * * * * *
 * * * * Menu* * * * * *
 * * * * * * * * * * * */
nav{
	margin-top:-1.5em;
	position:fixed;
	width:100%;
}
nav ul {
	background:#202020;

	padding:1em;
}

nav ul li{
	list-style:none;
	display:inline;
	margin:2em;
}
nav ul li a{
	text-decoration:none;
	color:#fff;
	font-size:2em;
}
/* * * * * * * * * * * *
 * * * * Banner  * * * *
 * * * * * * * * * * * */
.banner img {
	width:100%;
}
/* * * * * * * * * * * *
 * Cadastro de lugares *
 * * * * * * * * * * * */
#cadastro{
}
/* * * * * * * * * * * *
 * Image de Fundo* * * *
 * * * * * do  * * * * *
 * * * Cadastro* * * * *
 * * *  Origem * * * * *
 * * * Destino * * * * *
 * * * * * * * * * * * */

.imagem-cadastro,
.imagem-origem,
.imagem-destino{
	background:#000111;
	margin-bottom:2em ;
}
.imagem-cadastro img,
.imagem-origem img,
.imagem-destino img{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:100%;
}

.imagem-cadastro h2,
.imagem-origem h2,
.imagem-destino h2{
	color:#fff;
	margin:2em 0;
	font-size:4em;
	text-align:center;
}

/* * * * * * * * * * * *
 * Formulario* * * * * *
 * * * * * * * * * * * */
.cadastro-lugares form{
	padding: 2em 0;
	margin:0 auto;
	width:50em;
}
.fields{
	margin-top:2.2em;

}
.fields label{
	color:#000;
	font-size:2em;
	margin-left:1em;
	margin-top: 20em;
}
.fields label a{
	text-decoration: none;
	color:#d1d1d1;
	background:#325462;
	text-align:center;
	font-size:1em;
	padding:0 0.4em;
	float:right;
	border-radius:100%;
}

.fields input[type="text"],
.fields input[type="number"],
.fields input[type="password"],
.fields input[type="email"],
.fields select{
	border: 1px solid #d1d1d1;
	margin-left:2em;
	margin-top:1em;
	width:100%;
	padding:1em;
	background:#d1d1d1;
	font-size:2em;
	text-align:center;
}
.fields select option{
	font-size:2em;
}
.cadastro-lugares form input[type="submit"]{
	background:#100000;
	padding:2em;
	border:none;
	color:#d1d1d1;
	margin-top:2em;
	/* Button no centro */
	display:block;
	margin-left:auto;
	margin-right:auto;
	/* End Button*/
	font-size:1.5em;
	border-radius:0.5em;
}

.cadastro-lugares form select object{
}
/* * * * * * * * * * * *
 * Lista de lugares* * *
 * * * * * * * * * * * */
.lista-lugares{
	padding: 2em;
}
.lista-lugares h2{
	text-align:center;
	font-size:3em;
}

.lista-lugares table tbody tr td a{
	text-decoration:none;
	color:#000;
	text-align:center;
}

.lista-lugares table{
	margin-left:auto;
	margin-right:auto;
}
.lista-lugares table thead tr td{
	padding:1em;
	font-size:3em;
	background:#1e1e1e;
	color:#fff;
	text-align:center;
}
.lista-lugares table tbody tr td{
	padding:1em;
	font-size:2em;
	text-align:center;
}

/* * * * * * * * * * *
 * Nova viagem * * * *
 * * * * * * * * * * */
.nova-viagem{
	background:#432;
	padding: 1em;
}
.nova-viagem h2{
	color:#fff;
	text-align:center;
	font-size:5em;
}
.nova-viagem p{
	color:#fff;
	text-align:center;
	font-size:3em;
	margin: 0 2em;
}
.nova-viagem a{
	text-decoration:none;
}

/* * * * * * * * * * *
 * * * *Login* * * * *
 * * * * * * * * * * */
header h1{
	text-align:center;
	font-size:4em;
	margin:1em 2em 2em 2em;
}
.login{
	width:60em;
	margin-left:auto;
	margin-right:auto;
}
.login a{
	text-decoration:none;
	color:#fff;
	background:#362;
	font-size:2em;
	padding:1em;
	margin-top:2em;
	display:block;
	margin-left:auto;
	margin-right:auto;
	text-align:center;

}
.button input[type="submit"]{
	font-size:2em;
	margin:2em;
	display:block;
	margin-left:auto;
	margin-right:auto;
	background:#325462;
	border:none;
	color:#fff;
	border-radius:0.5em;
	padding:1em;

}
/* * * * * * * * * * *
 * * * *Logout * * * *
 * * * * * * * * * * */
.logout{
	background:#321;
	margin:-4em 0 0 0;
}
.logout h2{
	font-size:4em;
	color:#fff;
	text-align:center;
}
.logout p{
	font-size:4em;
	text-align:center;
}
.logout p a{
	text-decoration: none;
	color:#fff;
	}
.logout img {
	width:100%;
}
/* * * * * * * * * * * * * * *
 * * * * *Criar Conta* * * * *
 * * * * * * * * * * * * * * */
.registrar form{
	width:60em;
	margin-left:auto;
	margin-right:auto;
	display:block;
}

.button input[type="submit"]{
	font-size:2em;
	margin:2em;
	display:block;
	margin-left:auto;
	margin-right:auto;
	background:#325462;
	border:none;
	color:#fff;
	border-radius:0.5em;
	padding:1em;

}

/* * * * * * * * * * * * * * *
 * Conta email confirmation* *
 * * * * * * * * * * * * * * */
.conta-email{
	padding:13em;
	background:#321;
}
.conta-email img{
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.conta-email h2{
	text-align:center;
	font-size:4em;
	color:#fff;
	margin-top:2em;
}
/* * * * * * * * * * *
 * * * Mudar senha * *
 * * * * * * * * * * */
.mudar-senha h1{
	text-align:center;
	font-size:4em;
}
.mudar-senha p{
	text-align:center;
	font-size:4em;
}
.mudar-senha form{
	width:60em;
	margin-left:auto;
	margin-right:auto;
	display:block;
}

/* * * * * * * * * * *
 * Error Lista form* *
 * * * * * * * * * * */
.errorlist{
background:#ff0000;
color:#fff;
padding:2em;
margin: 2em;
}

.errorlist  li{
list-style:none;
font-size:1.5em;

}

/* * * * * * * * * * *
 * Media query 500px *
 * * * * * * * * * * */
@media screen and (max-width:40em){
/* * * * * * * * * * * *
 * Cadastro de lugares *
 * * * * * * * * * * * */
.cadastro-lugares form input[type="text"] ,
.cadastro-lugares form input[type="number"] ,
.cadastro-lugares form select{
		width:100%;
	}
	.cadastro-lugares form input[type="submit"]{
		width:100%;
		border-radius:0;
	}
}



